@font-face {
  font-family: "Creepy";
  src: url("assets/fonts/Creepy.woff") format("woff"),
       url("assets/fonts/Creepy.woff2") format("woff2");
}

@font-face {
  font-family: "Lunacy";
  src: url("assets/fonts/Lunacy.woff") format("woff"),
       url("assets/fonts/Lunacy.woff2") format("woff2");
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-15deg)
  }
  75% {
    transform: rotate(15deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 2em;
  }
}